@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var $grid = $("#grid");
    $(function () {
        $.roleIndex.initGrid();
    });
    (function ($) {
        $.roleIndex = {
            initGrid: function () {
                $("#grid").dataGrid({
                    url: "/SystemManage/Role/RoleGrid",
                    height: $(window).height() - 128,
                    sortname: "RoleId",
                    colModel: [
                        { label: "主键", name: "RoleId", hidden: true, key: true },
                        { label: '角色名称', name: 'RoleName', width: 150, align: 'left' },
                        {
                            label: '角色类型',
                            name: 'RoleType',
                            width: 80,
                            align: 'left'
                        },
                        {
                            label: '归属机构',
                            name: 'OrganizeName',
                            width: 150,
                            align: 'left'
                        },
                        {
                            label: '创建时间',
                            name: 'CreateTime',
                            width: 80,
                            align: 'left',
                            formatter: "date",
                            formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                        },
                        {
                            label: "编辑",
                            name: "AllowEdit",
                            width: 60,
                            align: "center",
                            formatter: function (cellvalue) {
                                return cellvalue ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                            }
                        },
                        {
                            label: "删除",
                            name: "AllowDelte",
                            width: 60,
                            align: "center",
                            formatter: function (cellvalue) {
                                return cellvalue ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                            }
                        },
                        {
                            label: "有效",
                            name: "IsEnabled",
                            width: 60,
                            align: "center",
                            formatter: function (cellvalue) {
                                return cellvalue ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                            }
                        },
                        { label: '备注', name: 'Remark', width: 300, align: 'left' }
                    ],
                    pager: "#gridPager"
                });
            },
            addRole: function () {
                $.modalOpen({
                    id: "Form",
                    title: "新增角色",
                    url: "/SystemManage/Role/Form",
                    width: "550px",
                    height: "570px",
                    btn: null
                });
            },
            editRole: function () {
                var keyValue = $("#grid").jqGridRowValue().RoleId;
                $.modalOpen({
                    id: "Form",
                    title: "修改角色",
                    url: "/SystemManage/Role/Form?keyValue=" + keyValue,
                    width: "550px",
                    height: "570px",
                    btn: null
                });
            },
            removeRole: function () {
                $.deleteForm({
                    url: "/SystemManage/Role/Remove",
                    param: { keyValue: $("#grid").jqGridRowValue().RoleId },
                    success: function () {
                        $.currentWindow().$("#grid").trigger("reloadGrid");
                    }
                });
            }
        };
    })(jQuery);
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="Add" authorize="yes" class="btn btn-primary dropdown-text" onclick="$.roleIndex.addRole()"><i class="fa fa-plus"></i>新建角色</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="Edit" authorize="yes" onclick="$.roleIndex.editRole()"><i class="fa fa-pencil-square-o"></i>修改角色</a></li>
                <li><a id="Remove" authorize="yes" onclick="$.roleIndex.removeRole()"><i class="fa fa-trash-o"></i>删除角色</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="grid"></table>
    <div id="gridPager"></div>
</div>

