@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        $.menuIndex.initGrid();
    });
    (function ($) {
        $.menuIndex = {
            initGrid: function () {
                $("#grid").dataGrid({
                    treeGrid: true,
                    treeGridModel: "adjacency",
                    ExpandColumn: "UrlPath",
                    url: "/SystemManage/Menu/InitGrid",
                    height: $(window).height() - 96,
                    colModel: [
                        { label: "主键", name: "MenuId", hidden: true, key: true },
                        { label: '名称', name: 'MenuName', width: 200, align: 'left' },
                        { label: '连接', name: 'UrlPath', width: 260, align: 'left' },
                        {
                            label: '目标',
                            name: 'Target',
                            width: 80,
                            align: 'center',
                            formatter: function (cellvalue) {
                                if (cellvalue === "expand") {
                                    return "无页面";
                                } else if (cellvalue === "open") {
                                    return "弹出页";
                                } else if (cellvalue === "blank") {
                                    return "新窗口";
                                } else if (cellvalue === "iframe") {
                                    return "框架页";
                                } else return "";
                            }
                        },
                        {
                            label: "类型",
                            name: "MenuType",
                            width: 60,
                            align: "center"
                        },
                        {
                            label: "元素",
                            name: "ElementId",
                            width: 120,
                            align: "center"
                        },
                        {
                            label: "事件",
                            name: "Event",
                            width: 200,
                            align: "center"
                        },
                        {
                            label: "有效",
                            name: "IsEnabled",
                            width: 60,
                            align: "center",
                            formatter: function (cellvalue) {
                                return cellvalue ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                            }
                        },
                        { label: '介绍', name: 'Remark', width: 300, align: 'left' }
                    ]
                });
            },
            addMenu: function () {
                $.modalOpen({
                    id: "Form",
                    title: "新增菜单",
                    url: "/SystemManage/Menu/Form",
                    width: "700px",
                    height: "440px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].$.menuFrom.submitForm();
                    }
                });
            },
            editMenu: function () {
                var keyValue = $("#grid").jqGridRowValue().MenuId;
                $.modalOpen({
                    id: "Form",
                    title: "修改菜单",
                    url: "/SystemManage/Menu/Form?keyValue=" + keyValue,
                    width: "700px",
                    height: "440px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].$.menuFrom.submitForm();
                    }
                });
            },
            removeMenu: function () {
                $.deleteForm({
                    url: "/SystemManage/Menu/Remove",
                    param: { keyValue: $("#grid").jqGridRowValue().MenuId },
                    success: function () {
                        $.currentWindow().$("#grid").resetSelection();
                        $.currentWindow().$("#grid").trigger("reloadGrid");
                    }
                });
            },
            detailMenu: function () {
                var keyValue = $("#grid").jqGridRowValue().MenuId;
                $.modalOpen({
                    id: "Detail",
                    title: "查看菜单",
                    url: "/SystemManage/Menu/Detail?keyValue=" + keyValue,
                    width: "700px",
                    height: "490px",
                    btn: null
                });
            }
        };
    })(jQuery);
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="Add" authorize="yes" class="btn btn-primary dropdown-text" onclick="$.menuIndex.addMenu()"><i class="fa fa-plus"></i>新增菜单</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="Edit" authorize="yes" onclick="$.menuIndex.editMenu()"><i class="fa fa-pencil-square-o"></i>修改菜单</a></li>
                <li><a id="Remove" authorize="yes" onclick="$.menuIndex.removeMenu()"><i class="fa fa-trash-o"></i>删除菜单</a></li>
                <li><a id="View" authorize="yes" onclick="$.menuIndex.detailMenu()"><i class="fa fa-search-plus"></i>查看菜单</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="grid"></table>
</div>

