@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        var keyValue = $.request("keyValue");
        $(function () {
            $.manageForm.initControl();
        });
        (function ($) {
            $.manageForm = {
                initControl: function () {
                    $("#Gender").bindSelect();
                    $("#RoleId").bindSelect({
                        url: "/SystemManage/Role/SelectRole",
                        id: "id",
                        text: "text",
                        tags: true,
                        maxselectlength: 10
                    });
                    if (!!keyValue) {
                        $.ajax({
                            url: "/SystemManage/Manage/InitForm",
                            data: { keyValue: keyValue },
                            dataType: "json",
                            async: false,
                            success: function(data) {
                                $("#form1").formSerialize(data);
                                $("#PassWord").val("******").attr('disabled', 'disabled');
                                $('#RoleId').val(data.Role).trigger("change");
                            }
                        });
                    }
                },
                submitForm: function () {
                    if (!$('#form1').formValid())
                        return false;
                    var postData = $("#form1").formSerialize();
                    console.log(postData);
                    var arry = [];
                    var reslist = $("#RoleId").select2("data");
                    $.each(reslist, function (i, v) {
                        arry.push(v.id);
                    });
                    postData["roles"] = String(arry);
                    $.submitForm({
                        url: "/SystemManage/Manage/SubmitForm?keyValue=" + keyValue,
                        param: postData,
                        success: function () {
                            $.currentWindow().$("#grid").trigger("reloadGrid");
                        }
                    });
                }
            };
        })(jQuery);
    </script>
}

<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户</th>
                    <td class="formValue">
                        <input id="Account" name="Account" type="text" class="form-control required" placeholder="请输入账户"/>
                    </td>
                    <th class="formTitle">密码</th>
                    <td class="formValue">
                        <input id="PassWord" name="PassWord" type="password" class="form-control required" placeholder="请输入密码" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">角色</th>
                    <td class="formValue" colspan="3">
                        <select id="RoleId" name="RoleId" class="form-control select2 required" multiple="multiple"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">姓名</th>
                    <td class="formValue">
                        <input id="RealName" name="RealName" type="text" class="form-control required" placeholder="请输入姓名" />
                    </td>
                    <th class="formTitle">性别</th>
                    <td class="formValue">
                        <select id="Gender" name="Gender" class="form-control required">
                            <option value="true">男</option>
                            <option value="false">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">手机</th>
                    <td class="formValue">
                        <input id="Phone" name="Phone" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">生日</th>
                    <td class="formValue">
                        <input id="Birthday" name="Birthday" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">邮箱</th>
                    <td class="formValue">
                        <input id="Email" name="Email" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">允许登录</th>
                    <td class="formValue" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="IsEnabled" name="IsEnabled" type="checkbox" checked="checked"><label for="IsEnabled">允许</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Description" name="Description" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

